h2{
    color: darkblue;
    text-align: center;
    font-size: 60 px;

}

p{
    color: darkblue;
    text-align: center;
    font-size: 45px;

}


a {font-size: 30px;
    padding:20px;
    top-padding:15px;

}


input[type=text]{
    background-color:darkyellow;
    text-align:center;
    font-size:25 px;
    width: 80%
    margin: 10px;
    padding: 10px 0;
}

input[type=submit]{
    background-color:darkyellow;
    color: green;
    padding: 10px;
    margin: 10;
    position: absolute;
    top: 67%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img{
  display: block;
  padding:12px;
  margin-left: auto;
  margin-right: auto;
  image-rendering: -webkit-optimize-contrast;
  width: 100%
  height: 100%
}


body {
  background-color: lightblue;
}
